<p aria-label="ads-banner" class="header-top-caption">
  Худі на КПП найкращий подарунок!
</p>

<header class="header">
  <div class="header-wrap">
    <a href="/" class="logo">
      <picture class="logo-icon">
        <source type="image/avif" srcset="./images/logo-icon/Icon.avif" />
        <source type="image/webp" srcset="./images/logo-icon/Icon.webp" />
        <img
          width="32"
          height="32"
          src="./images/logo-icon/Icon.png"
          alt="descriptive text"
        />
      </picture>
      <div class="logo-text-wrap">
        <strong>Hoodie Driver</strong>
        <p>Перші в Україні</p>
      </div>
    </a>
    <div class="header-menu" data-header-menu>
      <dir class="header-menu-inner">
        <nav class="header-nav-menu is-desktop">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">
                <svg width="20" height="20">
                  <use href="./public/icons.svg#icon-fire"></use>
                </svg>
                Кастом</a
              >
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">Про нас</a>
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">Відгуки</a>
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link"
                >Питання та Відповіді</a
              >
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">Контакти</a>
            </li>
          </ul>
        </nav>
        <ul class="social-list is-header">
          <li>
            <a class="social-link" aria-label="instagram" href="#">
              <svg width="32" height="32">
                <use href="./public/icons.svg#icon-instagram_icon"></use></svg
            ></a>
          </li>
          <li>
            <a class="social-link" aria-label="telegram" href="#">
              <svg width="32" height="32">
                <use href="./public/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li>
            <a class="social-link" aria-label="tiktok" href="#">
              <svg width="32" height="32">
                <use href="./public/icons.svg#icon-tiktok"></use></svg
            ></a>
          </li>
          <li>
            <a class="social-link" aria-label="viber" href="#">
              <svg width="32" height="32">
                <use href="./public/icons.svg#icon-viber"></use></svg
            ></a>
          </li>
        </ul>
        <!-- Temporary removed -->
        <!-- <div class="header-menu-caption-text-tablet">
          <p><strong>Перші дізнаються Ви!</strong></p>
          <p>
            Не пропустіть свіжі новини та унікальні акції — підпишіться на наш
            newsletter зараз.
          </p>
        </div> -->
        <!-- Temporary removed / -->
        <ul class="lang">
          <li><button type="button" class="lang-btn is-current">UA</button></li>
          <li><button type="button" class="lang-btn">RU</button></li>
        </ul>
        <div class="header-footer">
          <a href="#" class="legal-link">Політика приватності</a>
          <a href="#" class="legal-link">Умова користувача</a>
          <p class="copyright">© 2024 Hoodie Driver</p>
        </div>
      </dir>
    </div>
    <button type="button" class="button is-fixed-mobile">
      <svg width="24" height="24">
        <use href="./public/icons.svg#icon-meteor"></use>
      </svg>
      Замовити!
    </button>
    <button class="btn-menu" type="button">
      <i class="btn-menu__bars" aria-hidden="true"></i>
      <span class="visually-hidden">Menu</span>
    </button>
  </div>
</header>
