<picture class="section-custom-green">
  <!-- Desktop -->
  
  <source
    media="(min-width: 991px)"
    type="image/webp"
    srcset="./images/section-custom/custom-hoodie-green-desktop.webp 1x, ./images/section-custom/custom-hoodie-green-desktop@2x.webp 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/avif"
    srcset="./images/section-custom/custom-hoodie-green-desktop.avif 1x, ./images/section-custom/custom-hoodie-green-desktop@2x.avif 2x"
  />
  
  <!-- Tablet -->
  
  <source
    media="(min-width: 768px)"
    type="image/webp"
    srcset="./images/section-custom/custom-hoodie-green-tablet.webp 1x, ./images/section-custom/custom-hoodie-green-tablet@2x.webp 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/avif"
    srcset="./images/section-custom/custom-hoodie-green-tablet.avif 1x, ./images/section-custom/custom-hoodie-green-tablet@2x.avif 2x"
  />
  
  <!-- Mobile -->
  
  <source
    media="(min-width: 320px)"
    type="image/webp"
    srcset="./images/section-custom/custom-hoodie-green-mobile.webp 1x, ./images/section-custom/custom-hoodie-green-mobile@2x.webp 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/avif"
    srcset="./images/section-custom/custom-hoodie-green-mobile.avif 1x, ./images/section-custom/custom-hoodie-green-mobile@2x.avif 2x"
  />

  <img
    src="./images/section-custom/"
    alt="Hoodie green"
  />
</picture>

<picture class="section-gallery-red">
  <!-- Desktop -->
  
  <source
    media="(min-width: 991px)"
    type="image/webp"
    srcset="./images/section-gallery/gallery-hoodie-red-desktop.webp 1x, ./images/section-gallery/gallery-hoodie-red-desktop@2x.webp 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/avif"
    srcset="./images/section-gallery/gallery-hoodie-red-desktop.avif 1x, ./images/section-gallery/gallery-hoodie-red-desktop@2x.avif 2x"
  />
  
  <!-- Tablet -->
  
  <source
    media="(min-width: 768px)"
    type="image/webp"
    srcset="./images/section-gallery/gallery-hoodie-red-tablet.webp 1x, ./images/section-gallery/gallery-hoodie-red-tablet@2x.webp 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/avif"
    srcset="./images/section-gallery/gallery-hoodie-red-tablet.avif 1x, ./images/section-gallery/gallery-hoodie-red-tablet@2x.avif 2x"
  />
  
  <!-- Mobile -->
  
  <source
    media="(min-width: 320px)"
    type="image/webp"
    srcset="./images/section-gallery/gallery-hoodie-red-mobile.webp 1x, ./images/section-gallery/gallery-hoodie-red-mobile@2x.webp 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/avif"
    srcset="./images/section-gallery/gallery-hoodie-red-mobile.avif 1x, ./images/section-gallery/gallery-hoodie-red-mobile@2x.avif 2x"
  />

  <img
    src="./images/section-gallery/"
    alt="Hoodie red"
  />
</picture>

<picture class="section-hero-dark">
  <!-- Desktop -->
  
  <source
    media="(min-width: 991px)"
    type="image/webp"
    srcset="./images/section-hero/hero-hoodie-dark-desktop.webp 1x, ./images/section-hero/hero-hoodie-dark-desktop@2x.webp 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/avif"
    srcset="./images/section-hero/hero-hoodie-dark-desktop.avif 1x, ./images/section-hero/hero-hoodie-dark-desktop@2x.avif 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/png"
    srcset="./images/section-hero/hero-hoodie-dark-desktop.png 1x, ./images/section-hero/hero-hoodie-dark-desktop@2x.png 2x"
  />
  
  <!-- Tablet -->
  
  <source
    media="(min-width: 768px)"
    type="image/webp"
    srcset="./images/section-hero/hero-hoodie-dark-tablet.webp 1x, ./images/section-hero/hero-hoodie-dark-tablet@2x.webp 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/avif"
    srcset="./images/section-hero/hero-hoodie-dark-tablet.avif 1x, ./images/section-hero/hero-hoodie-dark-tablet@2x.avif 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/png"
    srcset="./images/section-hero/hero-hoodie-dark-tablet.png 1x, ./images/section-hero/hero-hoodie-dark-tablet@2x.png 2x"
  />
  
  <!-- Mobile -->
  
  <source
    media="(min-width: 320px)"
    type="image/webp"
    srcset="./images/section-hero/hero-hoodie-dark-mobile.webp 1x, ./images/section-hero/hero-hoodie-dark-mobile@2x.webp 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/avif"
    srcset="./images/section-hero/hero-hoodie-dark-mobile.avif 1x, ./images/section-hero/hero-hoodie-dark-mobile@2x.avif 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/png"
    srcset="./images/section-hero/hero-hoodie-dark-mobile.png 1x, ./images/section-hero/hero-hoodie-dark-mobile@2x.png 2x"
  />

  <img
    src="./images/section-hero/hero-hoodie-dark-mobile.png"
    alt="Hoodie dark"
  />
</picture>

<picture class="section-hero-yellow">
  <!-- Desktop -->
  
  <source
    media="(min-width: 991px)"
    type="image/webp"
    srcset="./images/section-hero/hero-hoodie-yellow-desktop.webp 1x, ./images/section-hero/hero-hoodie-yellow-desktop@2x.webp 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/avif"
    srcset="./images/section-hero/hero-hoodie-yellow-desktop.avif 1x, ./images/section-hero/hero-hoodie-yellow-desktop@2x.avif 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/png"
    srcset="./images/section-hero/hero-hoodie-yellow-desktop.png 1x, ./images/section-hero/hero-hoodie-yellow-desktop@2x.png 2x"
  />
  
  <!-- Tablet -->
  
  <source
    media="(min-width: 768px)"
    type="image/webp"
    srcset="./images/section-hero/hero-hoodie-yellow-tablet.webp 1x, ./images/section-hero/hero-hoodie-yellow-tablet@2x.webp 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/avif"
    srcset="./images/section-hero/hero-hoodie-yellow-tablet.avif 1x, ./images/section-hero/hero-hoodie-yellow-tablet@2x.avif 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/png"
    srcset="./images/section-hero/hero-hoodie-yellow-tablet.png 1x, ./images/section-hero/hero-hoodie-yellow-tablet@2x.png 2x"
  />
  
  <!-- Mobile -->
  
  <source
    media="(min-width: 320px)"
    type="image/webp"
    srcset="./images/section-hero/hero-hoodie-yellow-mobile.webp 1x, ./images/section-hero/hero-hoodie-yellow-mobile@2x.webp 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/avif"
    srcset="./images/section-hero/hero-hoodie-yellow-mobile.avif 1x, ./images/section-hero/hero-hoodie-yellow-mobile@2x.avif 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/png"
    srcset="./images/section-hero/hero-hoodie-yellow-mobile.png 1x, ./images/section-hero/hero-hoodie-yellow-mobile@2x.png 2x"
  />

  <img
    src="./images/section-hero/hero-hoodie-yellow-mobile.png"
    alt="Hoodie yellow"
  />
</picture>

<picture class="section-instagram-frame">
  <!-- Desktop -->
  
  <source
    media="(min-width: 991px)"
    type="image/webp"
    srcset="./images/section-instagram/instagram-iphone-frame-desktop.webp 1x, ./images/section-instagram/instagram-iphone-frame-desktop@2x.webp 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/avif"
    srcset="./images/section-instagram/instagram-iphone-frame-desktop.avif 1x, ./images/section-instagram/instagram-iphone-frame-desktop@2x.avif 2x"
  />
  <source
    media="(min-width: 991px)"
    type="image/png"
    srcset="./images/section-instagram/instagram-iphone-frame-desktop.png 1x, ./images/section-instagram/instagram-iphone-frame-desktop@2x.png 2x"
  />
  
  <!-- Tablet -->
  
  <source
    media="(min-width: 768px)"
    type="image/webp"
    srcset="./images/section-instagram/instagram-iphone-frame-tablet.webp 1x, ./images/section-instagram/instagram-iphone-frame-tablet@2x.webp 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/avif"
    srcset="./images/section-instagram/instagram-iphone-frame-tablet.avif 1x, ./images/section-instagram/instagram-iphone-frame-tablet@2x.avif 2x"
  />
  <source
    media="(min-width: 768px)"
    type="image/png"
    srcset="./images/section-instagram/instagram-iphone-frame-tablet.png 1x, ./images/section-instagram/instagram-iphone-frame-tablet@2x.png 2x"
  />
  
  <!-- Mobile -->
  
  <source
    media="(min-width: 320px)"
    type="image/webp"
    srcset="./images/section-instagram/instagram-iphone-frame-mobile.webp 1x, ./images/section-instagram/instagram-iphone-frame-mobile@2x.webp 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/avif"
    srcset="./images/section-instagram/instagram-iphone-frame-mobile.avif 1x, ./images/section-instagram/instagram-iphone-frame-mobile@2x.avif 2x"
  />
  <source
    media="(min-width: 320px)"
    type="image/png"
    srcset="./images/section-instagram/instagram-iphone-frame-mobile.png 1x, ./images/section-instagram/instagram-iphone-frame-mobile@2x.png 2x"
  />

  <img
    src="./images/section-instagram/instagram-iphone-frame-mobile.png"
    alt="Hoodie frame"
  />
</picture>