<section class="gallery">
  <div class="container"></div>
  <div class="splide gallery-slider is-top" aria-label="Gallery Top Slider">
    <div class="splide__track gallery-slider">
      <ul class="splide__list">
        <li class="splide__slide gallery-slide">
          <picture class="gallery-slide-image">
            <!-- Desktop -->
            <source
              media="(min-width: 991px)"
              type="image/avif"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-desktop.avif    1x,
                ./images/section-gallery/gallery-hoodie-red-desktop@2x.avif 2x
              "
            />
            <source
              media="(min-width: 991px)"
              type="image/webp"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-desktop.webp    1x,
                ./images/section-gallery/gallery-hoodie-red-desktop@2x.webp 2x
              "
            />

            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              type="image/avif"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-tablet.avif    1x,
                ./images/section-gallery/gallery-hoodie-red-tablet@2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-tablet.webp    1x,
                ./images/section-gallery/gallery-hoodie-red-tablet@2x.webp 2x
              "
            />

            <!-- Mobile -->
            <source
              media="(min-width: 320px)"
              type="image/avif"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-mobile.avif    1x,
                ./images/section-gallery/gallery-hoodie-red-mobile@2x.avif 2x
              "
            />
            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-mobile.webp    1x,
                ./images/section-gallery/gallery-hoodie-red-mobile@2x.webp 2x
              "
            />

            <img
              src="./images/section-gallery/gallery-hoodie-red-mobile.jpg"
              alt="Hoodie red"
              width="160"
              height="123"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="splide gallery-slider is-bottom"
    aria-label="Gallery Bottom Slider"
  >
    <div class="splide__track gallery-slider">
      <ul class="splide__list">
        <li class="splide__slide gallery-slide">
          <picture class="gallery-slide-image">
            <!-- Desktop -->
            <source
              media="(min-width: 991px)"
              type="image/avif"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-desktop.avif    1x,
                ./images/section-gallery/gallery-hoodie-red-desktop@2x.avif 2x
              "
            />
            <source
              media="(min-width: 991px)"
              type="image/webp"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-desktop.webp    1x,
                ./images/section-gallery/gallery-hoodie-red-desktop@2x.webp 2x
              "
            />

            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              type="image/avif"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-tablet.avif    1x,
                ./images/section-gallery/gallery-hoodie-red-tablet@2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-tablet.webp    1x,
                ./images/section-gallery/gallery-hoodie-red-tablet@2x.webp 2x
              "
            />

            <!-- Mobile -->
            <source
              media="(min-width: 320px)"
              type="image/avif"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-mobile.avif    1x,
                ./images/section-gallery/gallery-hoodie-red-mobile@2x.avif 2x
              "
            />
            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/section-gallery/gallery-hoodie-red-mobile.webp    1x,
                ./images/section-gallery/gallery-hoodie-red-mobile@2x.webp 2x
              "
            />

            <img
              src="./images/section-gallery/gallery-hoodie-red-mobile.jpg"
              alt="Hoodie red"
              width="160"
              height="123"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
