<section class="instagram">
  <div class="container">
    <div class="instagram-wrap">
      <div class="instagram-content">
        <div class="instagram-heading-content">
          <h2 class="section-heading">Підпишись на нас в Інстаграм</h2>
          <p>
            Відповідаємо на запитання майже 24/7, консультуємо та допомагаємо з
            дизайнами. А також публікуємо акції, розіграші та новинки
          </p>
        </div>
        <button type="button" class="button">
          Долучайся до наc
          <svg width="24" height="24">
            <use href="./public/icons.svg#icon-instagram_icon"></use>
          </svg>
        </button>
      </div>
      <picture class="instagram-frame">
        <!-- Desktop -->
        <source
          media="(min-width: 991px)"
          type="image/avif"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-desktop.avif    1x,
            ./images/section-instagram/instagram-iphone-frame-desktop@2x.avif 2x
          "
        />
        <source
          media="(min-width: 991px)"
          type="image/webp"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-desktop.webp    1x,
            ./images/section-instagram/instagram-iphone-frame-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 991px)"
          type="image/png"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-desktop.png    1x,
            ./images/section-instagram/instagram-iphone-frame-desktop@2x.png 2x
          "
        />

        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          type="image/avif"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-tablet.avif    1x,
            ./images/section-instagram/instagram-iphone-frame-tablet@2x.avif 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-tablet.webp    1x,
            ./images/section-instagram/instagram-iphone-frame-tablet@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-tablet.png    1x,
            ./images/section-instagram/instagram-iphone-frame-tablet@2x.png 2x
          "
        />

        <!-- Mobile -->
        <source
          media="(min-width: 320px)"
          type="image/avif"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-mobile.avif    1x,
            ./images/section-instagram/instagram-iphone-frame-mobile@2x.avif 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-mobile.webp    1x,
            ./images/section-instagram/instagram-iphone-frame-mobile@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./images/section-instagram/instagram-iphone-frame-mobile.png    1x,
            ./images/section-instagram/instagram-iphone-frame-mobile@2x.png 2x
          "
        />

        <img
          src="./images/section-instagram/instagram-iphone-frame-mobile.png"
          alt="Iphone frame with instagram page"
          width="327"
          height="586"
        />
      </picture>
    </div>
  </div>
</section>
