<section class="features">
  <div class="container">
    <h2 class="section-heading">
      Наші худі на КПП - кращий подарунок, який піднімає настрій та викликає
      вау-ефект у водія та пасажирів 😎
    </h2>
    <ul class="features-list">
      <li class="features-list-item">
        <svg class="features-icon" width="48" height="48">
          <use href="./public/icons.svg#icon-sketch"></use>
        </svg>
        <h3 class="features-title">
          Ми розробили унікальну модель, яка підходить під механічну та
          автоматичну коробку передач
        </h3>
        <p>
          У деяких випадках нестандартних селекторів/ручок КПП - виготовляємо
          худі під індивідуальні розміри
        </p>
      </li>
      <li class="features-list-item">
        <svg class="features-icon" width="48" height="48">
          <use href="./public/icons.svg#icon-image"></use>
        </svg>
        <h3 class="features-title">
          Окрім різноманітних дизайнів у наявності, пропонуємо створити свій
          кастомний дизайн худі на КПП
        </h3>
        <p>
          Можливо додати будь-які принти, лого, надписи. Обрати колір худі чи
          окремих його елементів
        </p>
      </li>
      <li class="features-list-item">
        <svg class="features-icon" width="48" height="48">
          <use href="./public/icons.svg#icon-quality"></use>
        </svg>
        <h3 class="features-title">
          Гарантія високої якості матеріалів, пошиву та принтів. Безкоштовне
          подарункове пакування
        </h3>
        <p>
          Ми ретельно слідкуємо за якістю кожного вироба, тому гарантуємо, що
          наші худі виглядатимуть навіть краще, ніж на фото
        </p>
      </li>
    </ul>
  </div>
</section>
