<section class="faq">
  <div class="container is-faq">
    <h2 class="section-heading">Питання - Відповідь</h2>
    <p class="section-subheading">Відповіді на популярні питання</p>
    <ul class="accordion-container">
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Як зробити замовлення?
          </button>
          <svg width="32" height="32">
            <use href="./public/icons.svg#icon-circle-up"></use>
          </svg>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            aspernatur! Quisquam repudiandae quae unde non aliquam. Debitis quod
            ad ipsam.
          </p>
        </div>
      </li>
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Як замовити свій дизайн/принт/тощо?
          </button>
          <svg width="32" height="32">
            <use href="./public/icons.svg#icon-circle-up"></use>
          </svg>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            aspernatur! Quisquam repudiandae quae unde non aliquam. Debitis quod
            ad ipsam.
          </p>
        </div>
      </li>
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Скільки часу займає виготовлення?
          </button>
          <svg width="32" height="32">
            <use href="./public/icons.svg#icon-circle-up"></use>
          </svg>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            aspernatur! Quisquam repudiandae quae unde non aliquam. Debitis quod
            ad ipsam.
          </p>
        </div>
      </li>
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Якими транспортними компаніями відбувається доставка та в які
            країни?
          </button>
          <svg width="32" height="32">
            <use href="./public/icons.svg#icon-circle-up"></use>
          </svg>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            aspernatur! Quisquam repudiandae quae unde non aliquam. Debitis quod
            ad ipsam.
          </p>
        </div>
      </li>
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Які умови оплати замовлення?
          </button>
          <svg width="32" height="32">
            <use href="./public/icons.svg#icon-circle-up"></use>
          </svg>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            aspernatur! Quisquam repudiandae quae unde non aliquam. Debitis quod
            ad ipsam.
          </p>
        </div>
      </li>
    </ul>
    <div class="faq-footer">
      <h3 class="section-heading">Залишились питання?</h3>
      <p class="section-subheading">Обери зручний спосіб зв’язку</p>
      <button type="button" class="button">Запитай зараз!</button>
    </div>
  </div>
</section>
