<section class="about-us" id="about-us">
  <div class="container">
    <ul class="about-us-grid">
      <li class="about-us-grid-item">
        <div class="about-us-content">
          <h2 class="section-heading">
            Як починалась наша історія з худі на КПП і як з’явилась назва Hoodie
            driver
          </h2>
          <p class="section-subheading">
            Одного вечора ми з партнером вирішили створити щось унікальне для
            автомобіля, щось цікаве та водночас щоб викликало Wow-ефект.
          </p>
          <p class="section-subheading">
            Ми спочатку довго думали самі, вигадували чудернацькі ідеї, але вони
            були приречені на провал…
          </p>
          <button type="button" class="button">
            Цікаво, читаю далі...
            <svg width="24" height="24">
              <use href="./public/icons.svg#icon-arrow-next"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="about-us-grid-item">
        <picture class="about-us-photo">
          <!-- Desktop -->
          <source
            media="(min-width: 991px)"
            type="image/avif"
            srcset="
              ./images/section-about/about-our-photo-desktop.avif    1x,
              ./images/section-about/about-our-photo-desktop@2x.avif 2x
            "
          />
          <source
            media="(min-width: 991px)"
            type="image/webp"
            srcset="
              ./images/section-about/about-our-photo-desktop.webp    1x,
              ./images/section-about/about-our-photo-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            type="image/avif"
            srcset="
              ./images/section-about/about-our-photo-tablet.avif    1x,
              ./images/section-about/about-our-photo-tablet@2x.avif 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/section-about/about-our-photo-tablet.webp    1x,
              ./images/section-about/about-our-photo-tablet@2x.webp 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(min-width: 320px)"
            type="image/avif"
            srcset="
              ./images/section-about/about-our-photo-mobile.avif    1x,
              ./images/section-about/about-our-photo-mobile@2x.avif 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/webp"
            srcset="
              ./images/section-about/about-our-photo-mobile.webp    1x,
              ./images/section-about/about-our-photo-mobile@2x.webp 2x
            "
          />

          <img
            width="327"
            height="327"
            src="./images/section-about/about-our-photo-mobile.jpg"
            alt="Hoodie photos"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
