<section class="reviews">
  <div class="container">
    <div class="reviews-header">
      <div class="reviews-heading-content">
        <h2 class="section-heading">Відгуки покупців</h2>
        <p>
          Ми пишаємося, що маємо більше 200 задоволених відгуків від наших
          клієнтів в Інстаграм!
        </p>
      </div>
      <button type="button" class="button">
        200+ в Інстаграм
        <svg width="24" height="24">
          <use href="./public/icons.svg#icon-instagram_icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="splide reviews-slider" aria-label="Reviews Slider">
    <div class="splide__track reviews-slider">
      <ul class="splide__list">
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
        <li class="splide__slide reviews-slide">
          <picture class="review-image">
            <source
              type="image/jpg"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.avif 1x,
                ./images/section-reviews/reviews-review-slide-image.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/section-reviews/reviews-review-slide-image.webp 1x,
                ./images/section-reviews/reviews-review-slide-image.webp 2x
              "
            />
            <img
              width="327"
              height="327"
              src="./images/section-reviews/reviews-review-slide-image.jpg"
              alt="Messages from instagram"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
