<section class="custom">
  <div class="container">
    <div class="custom-wrap">
      <picture class="custom-image">
        <!-- Desktop -->

        <source
          media="(min-width: 991px)"
          type="image/webp"
          srcset="
            ./images/section-custom/custom-hoodie-green-desktop.webp    1x,
            ./images/section-custom/custom-hoodie-green-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 991px)"
          type="image/avif"
          srcset="
            ./images/section-custom/custom-hoodie-green-desktop.avif    1x,
            ./images/section-custom/custom-hoodie-green-desktop@2x.avif 2x
          "
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./images/section-custom/custom-hoodie-green-tablet.webp    1x,
            ./images/section-custom/custom-hoodie-green-tablet@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/avif"
          srcset="
            ./images/section-custom/custom-hoodie-green-tablet.avif    1x,
            ./images/section-custom/custom-hoodie-green-tablet@2x.avif 2x
          "
        />

        <!-- Mobile -->

        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./images/section-custom/custom-hoodie-green-mobile.webp    1x,
            ./images/section-custom/custom-hoodie-green-mobile@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/avif"
          srcset="
            ./images/section-custom/custom-hoodie-green-mobile.avif    1x,
            ./images/section-custom/custom-hoodie-green-mobile@2x.avif 2x
          "
        />

        <img src="./images/section-custom/" alt="Hoodie green" />
      </picture>
      <div class="custom-content">
        <h2 class="section-heading">Створи свій унікальний дизайн</h2>
        <ul class="custom-content-list">
          <li class="custom-content-list-item"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
