<section class="hero">
  <div class="container">
    <ul class="hero-grid">
      <li class="hero-grid-child">
        <div class="hero-content">
          <h1 class="hero-title">
            <strong>Худі</strong> на <strong>КПП</strong> - найкращий
            <strong>подарунок!</strong>
          </h1>
          <h2 class="hero-subtitle">
            <strong>Худі-бро</strong> у твоє авто! Такого ти точно ще не бачив,
            бо ми зробили це першими. <strong>Готові колекції</strong> або
            <strong>кастом</strong>. Даруємо емоції та стиль.
          </h2>

          <button type="button" class="button">Швидке замовлення</button>
        </div>
      </li>
      <li class="hero-grid-child">
        <div class="hero-image-body">
          <picture class="hero-image-yellow">
            <!-- Desktop -->
            <source
              media="(min-width: 991px)"
              type="image/avif"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-desktop.avif    1x,
                ./images/section-hero/hero-hoodie-yellow-desktop@2x.avif 2x
              "
            />
            <source
              media="(min-width: 991px)"
              type="image/webp"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-desktop.webp    1x,
                ./images/section-hero/hero-hoodie-yellow-desktop@2x.webp 2x
              "
            />
            <source
              media="(min-width: 991px)"
              type="image/png"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-desktop.png    1x,
                ./images/section-hero/hero-hoodie-yellow-desktop@2x.png 2x
              "
            />

            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              type="image/avif"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-tablet.avif    1x,
                ./images/section-hero/hero-hoodie-yellow-tablet@2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-tablet.webp    1x,
                ./images/section-hero/hero-hoodie-yellow-tablet@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              type="image/png"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-tablet.png    1x,
                ./images/section-hero/hero-hoodie-yellow-tablet@2x.png 2x
              "
            />

            <!-- Mobile -->
            <source
              media="(min-width: 320px)"
              type="image/avif"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-mobile.avif    1x,
                ./images/section-hero/hero-hoodie-yellow-mobile@2x.avif 2x
              "
            />
            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-mobile.webp    1x,
                ./images/section-hero/hero-hoodie-yellow-mobile@2x.webp 2x
              "
            />
            <source
              media="(min-width: 320px)"
              type="image/png"
              srcset="
                ./images/section-hero/hero-hoodie-yellow-mobile.png    1x,
                ./images/section-hero/hero-hoodie-yellow-mobile@2x.png 2x
              "
            />

            <img
              width="106"
              height="176"
              src="./images/section-hero/hero-hoodie-yellow-mobile.png"
              alt="Hoodie yellow"
            />
          </picture>
          <picture class="hero-image-dark">
            <!-- Desktop -->
            <source
              media="(min-width: 991px)"
              type="image/avif"
              srcset="
                ./images/section-hero/hero-hoodie-dark-desktop.avif    1x,
                ./images/section-hero/hero-hoodie-dark-desktop@2x.avif 2x
              "
            />
            <source
              media="(min-width: 991px)"
              type="image/webp"
              srcset="
                ./images/section-hero/hero-hoodie-dark-desktop.webp    1x,
                ./images/section-hero/hero-hoodie-dark-desktop@2x.webp 2x
              "
            />
            <source
              media="(min-width: 991px)"
              type="image/png"
              srcset="
                ./images/section-hero/hero-hoodie-dark-desktop.png    1x,
                ./images/section-hero/hero-hoodie-dark-desktop@2x.png 2x
              "
            />

            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              type="image/avif"
              srcset="
                ./images/section-hero/hero-hoodie-dark-tablet.avif    1x,
                ./images/section-hero/hero-hoodie-dark-tablet@2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/section-hero/hero-hoodie-dark-tablet.webp    1x,
                ./images/section-hero/hero-hoodie-dark-tablet@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              type="image/png"
              srcset="
                ./images/section-hero/hero-hoodie-dark-tablet.png    1x,
                ./images/section-hero/hero-hoodie-dark-tablet@2x.png 2x
              "
            />

            <!-- Mobile -->
            <source
              media="(min-width: 320px)"
              type="image/avif"
              srcset="
                ./images/section-hero/hero-hoodie-dark-mobile.avif    1x,
                ./images/section-hero/hero-hoodie-dark-mobile@2x.avif 2x
              "
            />
            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/section-hero/hero-hoodie-dark-mobile.webp    1x,
                ./images/section-hero/hero-hoodie-dark-mobile@2x.webp 2x
              "
            />
            <source
              media="(min-width: 320px)"
              type="image/png"
              srcset="
                ./images/section-hero/hero-hoodie-dark-mobile.png    1x,
                ./images/section-hero/hero-hoodie-dark-mobile@2x.png 2x
              "
            />

            <img
              width="144"
              height="220"
              src="./images/section-hero/hero-hoodie-dark-mobile.png"
              alt="Hoodie dark"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="hero-features-list">
      <li class="hero-feature-item">
        <svg width="40" height="40">
          <use href="./public/icons.svg#icon-gift"></use>
        </svg>
        <p class="hero-features-text">Подарункова упаковка</p>
      </li>
      <li class="hero-feature-item">
        <svg width="40" height="40">
          <use href="./public/icons.svg#icon-mashine"></use>
        </svg>
        <p class="hero-features-text">Власне виробництво</p>
      </li>
      <li class="hero-feature-item">
        <svg width="40" height="40">
          <use href="./public/icons.svg#icon-heard"></use>
        </svg>
        <p class="hero-features-text">Індивідуальний підхід</p>
      </li>
      <li class="hero-feature-item">
        <svg width="40" height="40">
          <use href="./public/icons.svg#icon-quality"></use>
        </svg>
        <p class="hero-features-text">Гарантія якості</p>
      </li>
    </ul>
  </div>
</section>
