<section class="custom" id="custom">
  <div class="container">
    <div class="custom-wrap">
      <picture class="custom-image">
        <!-- Desktop -->
        <source
          media="(min-width: 991px)"
          type="image/avif"
          srcset="
            ./images/section-custom/custom-hoodie-green-desktop.avif    1x,
            ./images/section-custom/custom-hoodie-green-desktop@2x.avif 2x
          "
        />
        <source
          media="(min-width: 991px)"
          type="image/webp"
          srcset="
            ./images/section-custom/custom-hoodie-green-desktop.webp    1x,
            ./images/section-custom/custom-hoodie-green-desktop@2x.webp 2x
          "
        />

        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          type="image/avif"
          srcset="
            ./images/section-custom/custom-hoodie-green-tablet.avif    1x,
            ./images/section-custom/custom-hoodie-green-tablet@2x.avif 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./images/section-custom/custom-hoodie-green-tablet.webp    1x,
            ./images/section-custom/custom-hoodie-green-tablet@2x.webp 2x
          "
        />

        <!-- Mobile -->
        <source
          media="(min-width: 320px)"
          type="image/avif"
          srcset="
            ./images/section-custom/custom-hoodie-green-mobile.avif    1x,
            ./images/section-custom/custom-hoodie-green-mobile@2x.avif 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./images/section-custom/custom-hoodie-green-mobile.webp    1x,
            ./images/section-custom/custom-hoodie-green-mobile@2x.webp 2x
          "
        />

        <img
          src="./images/section-custom/custom-hoodie-green-mobile.jpg"
          alt="Hoodie green"
          width="327"
          height="327"
        />
      </picture>
      <div class="custom-content">
        <p class="custom-caption">
          <svg width="20" height="20">
            <use href="./public/icons.svg#icon-fire"></use>
          </svg>
          Кастом
        </p>
        <h2 class="section-heading">Створи свій унікальний дизайн</h2>
        <ul class="custom-content-list">
          <li class="custom-content-list-item">
            <svg width="24" height="24">
              <use href="./public/icons.svg#icon-check"></use></svg
            >Будь-який <strong>КОЛІР!</strong>
          </li>
          <li class="custom-content-list-item">
            <svg width="24" height="24">
              <use href="./public/icons.svg#icon-check"></use></svg
            >Будь-який <strong>ДИЗАЙН!</strong>
          </li>
          <li class="custom-content-list-item">
            <svg width="24" height="24">
              <use href="./public/icons.svg#icon-check"></use></svg
            >Будь-який <strong>ШНУРОК!</strong>
          </li>
          <li class="custom-content-list-item">
            <svg width="24" height="24">
              <use href="./public/icons.svg#icon-check"></use></svg
            >Великий вибір <strong>ПРИНТІВ!</strong>
          </li>
          <li class="custom-content-list-item">
            <svg width="24" height="24">
              <use href="./public/icons.svg#icon-check"></use></svg
            >Ідеальний <strong>РОЗМІР!</strong>
          </li>
        </ul>
        <p class="custom-price">
          <svg width="24" height="24">
            <use href="./public/icons.svg#icon-card"></use>
          </svg>
          470 грн
        </p>
        <button type="button" class="button">
          <svg width="24" height="24">
            <use href="./public/icons.svg#icon-meteor"></use>
          </svg>
          Швидке Замовлення!
        </button>
      </div>
    </div>
  </div>
</section>
