/*** html & body ***/
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
  color: var(--text-light-color);
  line-height: 1.5;
  &.is-locked {
    overflow: hidden;
  }
}

/*** Visually hide element, but keep visible for search engine ***/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*** Container ***/
.container {
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 475px) {
  .container {
    max-width: 443px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 696px;
    padding: 0 36px;
  }
}
@media screen and (min-width: 991px) {
  .container {
    max-width: 1104px;
    padding: 0 12px;
  }
}

/*** Section global vertical padding ***/
section,
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-margin-top: 80px;
}
@media screen and (min-width: 768px) {
  section,
  footer {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/*** Buttons ***/
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--button-text-color);
  background: var(--button-bg-color);
  padding: 10px 24px;
  border: 2px solid var(--button-bg-color);
  border-radius: 48px;
  svg {
    fill: currentColor;
  }
  @media screen and (max-width: 550px) {
    &.is-fixed-mobile {
      display: block;
      padding: 8px;
      position: fixed;
      right: 24px;
      bottom: 24px;
      font-size: 0;
      line-height: 0;
      z-index: 9999;
    }
  }
}

/*** Headlines ***/
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}
.section-subheading {
  font-size: 18px;
}

/*** Common styles ***/
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  color: var(--text-light-color);
  .logo-text-wrap {
    line-height: 1.5;
    font-size: 8px;
    strong {
      font-size: 10px;
      font-weight: 500;
    }
  }
  .logo-icon {
    transform-origin: center;
  }
  &.is-footer {
    gap: 12px;
    .logo-text-wrap {
      font-size: 12px;
      strong {
        font-size: 16px;
      }
    }
    :is(img) {
      width: 64px !important;
      height: 64px !important;
    }
  }
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 4px;
  .social-link {
    display: inline-block;
    padding: 4px;
  }
  :is(svg) {
    fill: currentColor;
  }
  &.is-footer {
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    .social-link {
      display: inline-flex;
      gap: 4px;
      align-items: center;
      flex-direction: column;
      padding: 12px;
      font-weight: 700;
    }
  }
  @media screen and (min-width: 768px) {
    &.is-footer {
      max-width: none;
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 991px) {
    &.is-footer {
      max-width: none;
      display: flex;
      justify-content: space-between;
      .social-link {
        transition: color 0.3s ease;
        &:focus-visible,
        &:hover {
          color: var(--action-color);
        }
      }
      .social-link:first-child {
        padding: 12px 12px 12px 0;
      }
    }
  }
}

/*** Form components styles ***/
.newsletter-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  .button,
  .form-fieldset {
    width: 100%;
  }
  .newsletter-field {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .newsletter-field-top {
    flex-grow: 1;
    text-align: center;
  }
  .newsletter-label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .newsletter-error-msg {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--red);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    &.is-error {
      opacity: 1;
      visibility: visible;
    }
  }
  .newsletter-input {
    border: 1px solid var(--action-color);
    border-radius: 48px;
    padding: 0 12px;
    min-height: 48px;
    color: var(--text-light-color);
    background: rgba(43, 150, 234, 0.1);
    transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out,
      border 0.3s ease-in-out;
    &::placeholder {
      color: var(--text-light-color);
      opacity: 0.5;
    }
    &:focus-visible,
    &:hover {
      box-shadow: 0 0 0 2px var(--action-color);
      background: rgba(43, 150, 234, 0.2);
    }
    &.is-invalid {
      box-shadow: 0 0 0 2px var(--red);
      border-color: var(--red);
      background: #393755;
    }
  }
  .newsletter-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    a {
      text-decoration: underline;
      margin-left: 4px;
    }
    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    .checkbox-box {
      width: 18px;
      height: 18px;
      border: 1px solid var(--action-color);
      background: rgba(43, 150, 234, 0.1);
      border-radius: 4px;
      display: inline-block;
      position: relative;
      margin-right: 12px;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    /* Checkmark when the checkbox is checked */
    input:checked + .checkbox-box::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    /* Background when checked */
    input:checked + .checkbox-box {
      background-color: var(--action-color);
      border-color: var(--action-color);
    }
    /* Focus outline for accessibility */
    input:focus + .checkbox-box {
      outline: 1px solid var(--action-color);
      outline-offset: 1px;
    }
  }
  @media screen and (min-width: 768px) {
    position: relative;
    min-height: 116px;
    .newsletter-field {
      position: absolute;
      width: 100%;
      top: 0;
    }
    :is(.button) {
      position: absolute;
      width: auto;
      top: 32px;
      right: 0;
    }
    .newsletter-checkbox {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 550px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) {
  .section-heading {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 991px) {
  .button,
  .button {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  }

  /* Hover/focus only for desktop */
  .button:hover,
  .button:focus-visible {
    color: var(--blue);
    background: rgba(43, 150, 234, 0.1);
  }
  .button:active {
    color: var(--white);
    background: rgba(43, 150, 234, 0.1);
  }
}
