/*** html & body ***/
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
  color: var(--text-light-color);
  line-height: 1.5;
}
.menu-open {
  overflow: hidden;
}

/*** Visually hide element, but keep visible for search engine ***/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*** Container ***/
.container {
  max-width: 327px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 696px;
    padding: 0 36px;
  }
}
@media screen and (min-width: 991px) {
  .container {
    max-width: 1104px;
    padding: 0 12px;
  }
}

/*** Section global vertical padding ***/
section {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-margin-top: 80px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/*** Buttons ***/
.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--button-text-color);
  background: var(--button-bg-color);
  padding: 6px 12px;
  border: 6px solid var(--button-bg-color);
  border-radius: 48px;
  svg {
    fill: currentColor;
  }
  @media screen and (max-width: 550px) {
    &.is-fixed-mobile {
      display: block;
      padding: 8px;
      position: fixed;
      right: 24px;
      bottom: 24px;
      font-size: 0;
      line-height: 0;
      z-index: 9999;
    }
  }
}

/*** Headlines ***/
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}
.section-subheading {
  font-size: 18px;
}

/*** Form components styles ***/

@media screen and (min-width: 550px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) {
  .section-heading {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 991px) {
  .button,
  .button {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  }

  /* Hover/focus only for desktop */
  .button:hover,
  .button:focus-visible {
    color: var(--blue);
    background: var(--white);
  }
  .button:active {
    color: var(--white);
    background: var(--button-bg-color);
  }
}
