.modal-msg {
  background-color: #fff;
  border-radius: 0 0 36px 36px;
  padding: 149px 24px 24px;
  align-self: stretch;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  img {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 40px;
  }
  button {
    width: 100%;
  }
  &.isActive {
    position: fixed;
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 768px) {
  .modal-msg {
    border-radius: 36px;
    padding: 48px 64px;
    max-width: 504px;
    align-self: center;
  }
}
