.reviews {
  .section-heading {
    margin-bottom: 24px !important;
  }
}
.reviews-header {
  text-align: center;
}
.reviews-heading-content {
  margin-bottom: 24px;
}

.splide {
}
.reviews-slider {
}
.splide__track.reviews-slider {
  padding-top: 63px;
  padding-bottom: 63px;
}
.splide__slide.reviews-slide {
  border-radius: 30px;
  box-shadow: 0 2px 63px 0 rgba(55, 76, 180, 0.2),
    0 2px 16px 0 rgba(55, 76, 180, 0.6);
}
.review-image {
  img {
    width: 100%;
    border-radius: 16px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-heading-content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .review-image {
    img {
      border-radius: 30px;
    }
  }
}
@media screen and (min-width: 991px) {
  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    text-align: left;
  }
  .reviews-heading-content {
    max-width: 500px;
    margin-left: 0;
    margin-right: 0;
    p {
      font-size: 18px;
    }
  }
}
